/*

https://jmackas.github.io/circle_madness/ 

Notes:
    How to do regex for user input?

*/



/*-------------------------------------------------
Universal Elements
-------------------------------------------------*/
/* Font import */
body {
    font-family: cambria;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 1100%;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    font-size: 500%;
    font-weight: normal;
    padding: 0;
}

h3 {
    font-size: 238%;
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    outline: 1px dashed #aeaeae40;
}

/* Sections collated */
header, .tableOfContents {
    padding: 2%;
}

/*-------------------------------------------------
Header
-------------------------------------------------*/
header {
    height: 100vh;
    background: linear-gradient(rgb(253, 239, 216), rgb(255, 249, 195));
}


/*-------------------------------------------------
Table of Contents
-------------------------------------------------*/
.tableOfContents {
    height: 100vh;
    background: linear-gradient(khaki, papayawhip);
}

.tableOfContents span {
    font-size: 200%;
    font-weight: normal;
}

.operatorSymbol {
    margin: 0 40px;
}

.areaOfCircle {
    display: flex;
    align-items: center;
}

/* Input fields */
input {
    padding: 10px 20px;
    font-family: cambria;
    font-size: 200%;
    border-radius: 5px;
    background: rgba(0,0,0,0);
    border-top: none;
    border-right: none;
    border-bottom: 2px solid rgb(185, 185, 185);
    border-left: none;
    transition: .4s;
    width: 140px;
    text-align: center;
}

/* Input field focus */
input:focus {
    outline: none;
    border-bottom: 2px solid rgb(0, 191, 255);
}

.answerOutput {
    border-bottom: 1px solid black;
}