
/*-------------------------------------------------
Universal Elements
-------------------------------------------------*/
body {
    font-family: calibri;
}

h1 {
    font-size: 400%;
    text-align: center;
}