/*

https://jmackas.github.io/circle_madness/ 




*/



/*-------------------------------------------------
Universal Elements
-------------------------------------------------*/
/* 'Tinos' font import */
@import url('https://fonts.googleapis.com/css?family=Tinos');

body {
    font-family: Tinos, Cambria;
}

h1 {
    font-size: 400%;
    text-align: center;
}